html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body { 
    font-size: "Popins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(82, 81, 81, 0.7),
        rgba(82, 81, 81, 0.7)),
        url(imagenes/imagen\ 1.gif);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE9678;
}
#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;

}
.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250PX;
    margin-bottom: 25PX;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE9678;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btt-1:hover {
    background-color: #ebad8d;
}

.coffee {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323327;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-ing {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: -o-linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/imagen\ 3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0; 
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}

.general-1 {
    display: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(imagenes/imagen\ 4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3 {
    background-image: url(imagenes/imagen\ 4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 ing {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blos-1 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
}

.coffee-content {
    display: flex;
    justify-content: space-between;
}

link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {

    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30ps;
    }
    
    .header-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }
    .txt-p {
        margin-bottom: 0;
    }
    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-ing {
        display: none;
    }

    .services{
        padding: 30px;
    }
    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    
    .general-2 .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }
    .blog-content{
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .coffee-content {
        flex-direction: column;
        text-align: center;
    }

}
/* === CHATBOT IA === */
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    z-index: 9999;
}

#chat-header {
    background: #CE9678;
    color: white;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

#chat-body {
    max-height: 260px;
    overflow-y: auto;
    padding: 10px;
}

.bot-msg {
    background: #e8e8e8;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.user-msg {
    background: #CE9678;
    color: white;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    text-align: right;
}

#chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

#chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

#chat-input button {
    background: #323337;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}
.logo img {
    height: 200px;  
    width: auto;
    vertical-align: middle;
}
/* --- MENU DESPLEGABLE --- */

.dropdown {
    position: relative;
}

.dropdown a {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px 0;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    min-width: 150px;
}

.dropdown-content li {
    padding: 5px 15px;
}

.dropdown-content li a {
    text-decoration: none;
    color: #333;
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
* {
    box-sizing: border-box; 
}

.container {
    max-width: 1200px;   
    width: 100%;
    margin: 0 auto;      
    padding: 0 20px;     
}
 .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
}

section {
    padding: 60px 20px;
}

.coffee-ing {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;      
    max-width: 40%;    
    height: auto;
    z-index: 2;
}
.logo img {
    height: 70px;
    width: auto;
}

@media(max-width:991px) {
    .logo img {
        height: 50px;
    }
}
@media(max-width:991px) {
    .coffee-ing {
        width: 180px;
        right: 10px;
        top: 10px;
        display: block;  
    }
}
.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
}
.imagen1 gif {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coffee-content {
    text-align: center;
    display: block;
}

.cajaimagenimagen1 img {
    height: 230px;
    width: 230px;
}

.cajaimagenimagen1 img {
    width: 200px;
    height: auto;
}

.cervices-group {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 30px;
}

.services {
    background-image: url("imagenes/imagen\ 8.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0; 
}

.services,
.services * {
    color: black !important;
}

.services-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.services-1 img {
    width: 140px;   
    height: auto;
}

/* === SECCIONES CON IMAGEN + TEXTO COMO EL EJEMPLO === */

.general {
    display: flex;
    width: 100%;
    min-height: 350px;
}

.general-text {
    width: 50%;
    padding: 80px;
    background: #F4F4F4;
}

.general-text h2 {
    font-size: 45px;
    color: #222;
}

.general-text p {
    color: #444;
    line-height: 1.6;
    font-size: 18px;
}

.general-img {
    width: 50%;
    background-size: cover;
    background-position: center;
}

.general-left .general-text {
    order: 1;
}
.general-left .general-img {
    order: 2;
}

.general-right .general-img {
    order: 1;
}
.general-right .general-text {
    order: 2;
}

@media(max-width: 991px) {
    .general {
        flex-direction: column;
    }
    
    .general-text, 
    .general-img {
        width: 100%;
    }

    .general-text {
        padding: 40px;
        text-align: center;
    }
}


.general {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #e6e6e6; 
    min-height: 350px;
}

.general-left {
    flex-direction: row;
}

.general-right {
    flex-direction: row-reverse;
}


.general-text {
    width: 50%;
    padding: 40px;
    color: #000;
}

.general-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.general-text p {
    font-size: 1.1rem;
}

.general-video {
    width: 50%;
    height: 100%;
}

.general-video iframe {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border: none;
    border-radius: 0;
}

.general {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.general-text {
    width: 50%;
    padding: 40px;
    background: #f1f1f1;
}

.general-video {
    width: 50%;
}

.general-video iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

/* VIDEO A LA DERECHA */
.general-right {
    flex-direction: row-reverse;
}

/* VIDEO A LA IZQUIERDA */
.general-left {
    flex-direction: row;
}


